
/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

   body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */

div {
    width: 25%;
    border: 5px solid;
    position:fixed; 
}

#one {
    border-color: blue;
    bottom: 10px; right: 10px; 
}

#two {
    border-color: green;
    top: 10px; right: 10px;
}

#three {
    border-color: orange;
    top: 10px; left: 10px;
}

#four {
    border-color: yellow;
    bottom: 10px; left: 10px;
}

a {
    position: absolute;
    right: 50%;
    background-color: #323792;
    border: 1px solid #323792;
    color: white;
    text-decoration: none;
    font-weight: bold;
}